
@media screen and (min-width: 0px) {
    .informacion {
        color: #673902;
        font-size:16px;
        font-weight: bold;
        margin-left: 80px;
        background-color: rgba(247, 203, 237, 0.9);
        height: 60px;
        width: 300px;
        display: flex;
        align-items: center;
        padding-left: 3px;
        border-radius: 24px;
        justify-content: center;
    }
}


@media screen and (min-width: 680px) {
    .informacion {
        color: #673902;
        font-size:26px;
        font-weight: bold;
        background-color: rgba(247, 203, 237, 0.9);
        height: 60px;
        width: 500px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 24px;
        justify-content: center;
    }
}


@media screen and (min-width: 1024px) {
    .informacion {
        color: #673902;
        font-size:22px;
        font-weight: bold;
        background-color: rgba(247, 203, 237, 0.9);
        height: 60px;
        width: 400px;
        display: flex;
        margin-left: 120px;
        padding-left: 3px;
        border-radius: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .informacion {
        color: #673902;
        font-size:30px;
        font-weight: bold;
        background-color: rgba(247, 203, 237, 0.9);
        height: 60px;
        width: 550px;
        display: flex;
        margin-left: 30px;
        padding-left: 10px;
        border-radius: 24px;
        justify-content: center;
    }
}
